In [23]:
from pandas_datareader import wb
import pandas_datareader.data as web
from datetime import datetime

import numpy as np
import pandas as pd

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)
from pandas_datareader import data as pdr

In [24]:
start = datetime(2005, 1, 1)
end = datetime(2008, 1, 1)
indicator_id = 'NY.GDP.PCAP.KD'

In [25]:
gdp_per_capita = wb.download(indicator=indicator_id, start=start, end=end, country=['US', 'CA', 'MX'])

In [26]:
gdp_per_capita

                    NY.GDP.PCAP.KD
country       year
Canada        2008    42063.633052
              2007    42097.435120
              2006    41646.414637
              2005    40989.526824
Mexico        2008     9276.054837
              2007     9288.162478
              2006     9200.402581
              2005     8925.236669
United States 2008    53854.160612
              2007    54299.617241
              2006    53738.091725
              2005    52789.731419

In [27]:
PG = pdr.get_data_yahoo('^TWII', start='1995-1-1')

[*********************100%***********************]  1 of 1 completed

In [28]:
PG

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1997-07-02,9094.269531,9124.299805,8988.129883,8996.719727,8996.686523,0
1997-07-03,9061.599609,9061.599609,8997.509766,9027.629883,9027.596680,0
1997-07-04,9144.959961,9218.209961,9119.250000,9192.570312,9192.536133,0
1997-07-07,9365.190430,9370.410156,9304.820312,9322.839844,9322.805664,0
1997-07-08,9345.549805,9371.500000,9282.099609,9305.269531,9305.235352,0
...,...,...,...,...,...,...
2022-12-22,14323.040039,14442.940430,14323.040039,14442.940430,14442.940430,3258800
2022-12-23,14318.120117,14318.120117,14192.980469,14271.629883,14271.629883,1979800
2022-12-26,14271.200195,14301.110352,14253.200195,14285.129883,14285.129883,1574600
2022-12-27,14310.190430,14410.240234,14310.190430,14328.429688,14328.429688,1821100
2022-12-28,14249.830078,14249.830078,14119.299805,14173.099609,14173.099609,0

In [32]:
start = datetime(2015,10,11)
end = datetime(2020,10,11)
df = web.DataReader("TSLA",start,end)

[*********************100%***********************]  1 of 1 completed

In [33]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-10-12,14.866000,14.866667,14.351333,14.372000,14.372000,57544500
2015-10-13,14.218667,14.834667,14.075333,14.616667,14.616667,77572500
2015-10-14,14.711333,14.730000,14.362000,14.458667,14.458667,46566000
2015-10-15,14.428667,14.782000,14.246667,14.754000,14.754000,42663000
2015-10-16,14.869333,15.365333,14.858000,15.134000,15.134000,65017500
...,...,...,...,...,...,...
2020-10-05,141.116669,144.546661,139.776672,141.893326,141.893326,134168400
2020-10-06,141.263336,142.926666,135.350006,137.993332,137.993332,147438900
2020-10-07,139.956665,143.300003,137.949997,141.766663,141.766663,129383100
2020-10-08,146.146667,146.333328,141.766663,141.973328,141.973328,121263300
2020-10-09,143.376663,144.863327,142.153336,144.666672,144.666672,86777100